[submodule "modulus"]
	path = modulus
	url = https://github.com/NVIDIA/modulus.git
[submodule "Python_Jenks_Test/GSM-SGD"]
	path = Python_Jenks_Test/GSM-SGD
	url = https://github.com/DingXiaoH/GSM-SGD.git
[submodule "Python_Jenks_Test/snip-public"]
	path = Python_Jenks_Test/snip-public
	url = https://github.com/namhoonlee/snip-public.git
[submodule "Python_Jenks_Test/Jenks_Tests/Python_Jenks_Test/Jenks_Tests/ResNet56"]
	path = Python_Jenks_Test/Jenks_Tests/Python_Jenks_Test/Jenks_Tests/ResNet56
	url = https://github.com/DeweshPandey/ResNet-56
[submodule "Python_Jenks_Test/Guiding-Neural-Collapse"]
	path = Python_Jenks_Test/Guiding-Neural-Collapse
	url = https://github.com/evanmarkou/Guiding-Neural-Collapse.git
