Python_Code/FV_Code/__pycache__/
CUDA_C_Code/Python_Test_Code/
data/Rice_Image_Dataset/
data/mnist-original.mat
data/mnist
CUDA_C_Code/bin
CUDA_C_Code/obj
exp_data/
Python_Jenks_Test/__pycache__/
Python_Jenks_Test/datasets/
Python_Jenks_Test/runs/
data/